In [86]:
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [13]:
file_path = r"C:\Users\bence\Downloads\python\GPN.csv"
file_path2 = r"C:\Users\bence\Downloads\python\MCD.csv"
file_path3 = r"C:\Users\bence\Downloads\python\PNW.csv"
file_path4 = r"C:\Users\bence\Downloads\python\PSA.csv"

GPN = pd.read_csv(file_path)
MCD = pd.read_csv(file_path2)
PNW = pd.read_csv(file_path3)
PSA = pd.read_csv(file_path4)

In [16]:
#1
GPN["openclose_same"] = GPN["Open"] == GPN["Close"] 
MCD["openclose_same"] = MCD["Open"] == MCD["Close"] 
PNW["openclose_same"] = PNW["Open"] == PNW["Close"] 
PSA["openclose_same"] = PSA["Open"] == PSA["Close"]

In [21]:
GPN['openclose_same'].value_counts()
#It is true 5 times

openclose_same
False    1505
True        5
Name: count, dtype: int64

In [22]:
MCD['openclose_same'].value_counts()
#It is true 9 times

openclose_same
False    1501
True        9
Name: count, dtype: int64

In [23]:
PNW['openclose_same'].value_counts()
#It is true 8 times

openclose_same
False    1502
True        8
Name: count, dtype: int64

In [24]:
PSA['openclose_same'].value_counts()
#It is true 1 times

openclose_same
False    1509
True        1
Name: count, dtype: int64

In [28]:
#2
GPN['Close'].agg(['min', 'max'])

min     68.010
max    213.067
Name: Close, dtype: float64

In [27]:
MCD['Close'].agg(['min', 'max'])

min     68.010
max    213.067
Name: Close, dtype: float64

In [30]:
PNW['Close'].agg(['min', 'max'])

min    50.923
max    83.860
Name: Close, dtype: float64

In [31]:
PSA['Close'].agg(['min', 'max'])

min    132.484
max    368.156
Name: Close, dtype: float64

In [38]:
#3
GPN['pct_change'] = GPN.Close.pct_change()
GPN['log_ret'] = np.log(GPN.Close) - np.log(GPN.Close.shift(1))
GPN["log_ret"].describe()

count    1509.000000
mean        0.000241
std         0.021866
min        -0.212812
25%        -0.009188
50%         0.001397
75%         0.010112
max         0.196192
Name: log_ret, dtype: float64

In [39]:
MCD['pct_change'] = MCD.Close.pct_change()
MCD['log_ret'] = np.log(MCD.Close) - np.log(MCD.Close.shift(1))
MCD["log_ret"].describe()

count    1509.000000
mean        0.000619
std         0.014206
min        -0.172874
25%        -0.005041
50%         0.000740
75%         0.006835
max         0.166576
Name: log_ret, dtype: float64

In [40]:
PNW['pct_change'] = PNW.Close.pct_change()
PNW['log_ret'] = np.log(PNW.Close) - np.log(PNW.Close.shift(1))
PNW["log_ret"].describe()

count    1509.000000
mean        0.000140
std         0.015868
min        -0.180333
25%        -0.006907
50%         0.000868
75%         0.007647
max         0.121540
Name: log_ret, dtype: float64

In [41]:
PSA['pct_change'] = PSA.Close.pct_change()
PSA['log_ret'] = np.log(PSA.Close) - np.log(PSA.Close.shift(1))
PSA["log_ret"].describe()

count    1509.000000
mean        0.000310
std         0.015152
min        -0.122518
25%        -0.006989
50%         0.000957
75%         0.008116
max         0.061674
Name: log_ret, dtype: float64

In [43]:
#4
GPN['log_ret'].idxmax()
GPN.iloc[810]

Date              2020-03-24
Open                 117.988
High                 138.206
Low                  117.572
Close                136.686
Volume               4652600
Dividends                0.0
Stock Splits             0.0
openclose_same         False
pct_change           0.21676
log_ret             0.196192
Name: 810, dtype: object

In [53]:
MCD['log_ret'].idxmax()
MCD.iloc[810]

Date              2020-03-24
Open                 134.346
High                 146.951
Low                  131.731
Close                146.023
Volume              11678400
Dividends                0.0
Stock Splits             0.0
openclose_same         False
pct_change          0.181253
log_ret             0.166576
Name: 810, dtype: object

In [48]:
PNW['log_ret'].idxmax()
PNW.iloc[810]

Date              2020-03-24
Open                  53.181
High                  58.079
Low                    52.68
Close                 57.504
Volume               1116700
Dividends                0.0
Stock Splits             0.0
openclose_same         False
pct_change          0.129234
log_ret              0.12154
Name: 810, dtype: object

In [50]:
PSA['log_ret'].idxmax()
PSA.iloc[812]

Date              2020-03-26
Open                 145.624
High                 156.183
Low                  143.529
Close                154.888
Volume               1575500
Dividends                0.0
Stock Splits             0.0
openclose_same         False
pct_change          0.063616
log_ret             0.061674
Name: 812, dtype: object

In [51]:
#The same date is the highest return for the first 3 2020 03 24 but PSA has highest return 2020 03 26

In [59]:
#5
resample = GPN.resample('Volume').interpolate()[::7]

C:\Users\bence\AppData\Local\Temp\ipykernel_20108\4176699736.py:2: FutureWarning: 'Volume' is deprecated and will be removed in a future version, please use 'VOLUME' instead.
  resample = GPN.resample('Volume').interpolate()[::7]

ValueError: Invalid frequency: Volume, failed to parse with error message: ValueError("Invalid frequency: VOLUME, failed to parse with error message: KeyError('VOLUME')")

In [65]:
#6
GPN["total_ret"]=GPN["Open"]-GPN["Close"]
total_ret=GPN["total_ret"].sum()
total_ret

np.float64(58.43100000000072)

In [67]:
MCD["total_ret"]=MCD["Open"]-MCD["Close"]
total_retMCD=MCD["total_ret"].sum()
total_retMCD

np.float64(-16.42900000000077)

In [68]:
PNW["total_ret"]=PNW["Open"]-PNW["Close"]
total_retPNW=PNW["total_ret"].sum()
total_retPNW

np.float64(6.885000000000076)

In [70]:
PSA["total_ret"]=PSA["Open"]-PSA["Close"]
total_retPSA=PSA["total_ret"].sum()
total_retPSA

np.float64(28.597999999999615)

In [ ]:
#GPN has highest total return over whole period

In [85]:
#7
GPN["volume_class"]=GPN["Volume"]
GPN["volume_class"]=GPN.loc[:,'volume_class':].apply(lambda x: pd.qcut(x, q=[0, 0.25, 0.75, 1.0], 
                                    labels =['low','medium','high']) 
                                    if not x.nunique() == 1 else 'low')
GPN

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,openclose_same,pct_change,log_ret,total_ret,total_retSUM,volume_class
0,2017-01-03,67.508,68.444,66.601,68.010,1640300,0.0,0.0,False,NaN,NaN,-0.502,58.431,medium
1,2017-01-04,68.193,70.547,67.952,70.547,1769700,0.0,0.0,False,0.037303,0.036624,-2.354,58.431,medium
2,2017-01-05,70.200,71.328,70.200,70.827,1741400,0.0,0.0,False,0.003969,0.003961,-0.627,58.431,medium
3,2017-01-06,70.952,71.975,70.634,71.820,1581600,0.0,0.0,False,0.014020,0.013923,-0.868,58.431,medium
4,2017-01-09,75.631,78.023,75.303,76.972,3860200,0.0,0.0,False,0.071735,0.069279,-1.341,58.431,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,2022-12-23,92.786,95.513,92.589,95.208,1454200,0.0,0.0,False,0.022950,0.022691,-2.422,58.431,medium
1506,2022-12-27,94.991,96.478,94.844,96.153,1569600,0.0,0.0,False,0.009926,0.009877,-1.162,58.431,medium
1507,2022-12-28,96.340,97.206,94.558,94.863,1158500,0.0,0.0,False,-0.013416,-0.013507,1.477,58.431,medium
1508,2022-12-29,95.621,98.279,95.208,97.649,1352500,0.0,0.0,False,0.029369,0.028946,-2.028,58.431,medium
1509,2022-12-30,96.546,97.797,96.192,97.767,1374800,0.0,0.0,False,0.001208,0.001208,-1.221,58.431,medium

In [84]:
MCD["volume_class"]=MCD["Volume"]
MCD["volume_class"]=MCD.loc[:,'volume_class':].apply(lambda x: pd.qcut(x, q=[0, 0.25, 0.75, 1.0], 
                                    labels =['low','medium','high']) 
                                    if not x.nunique() == 1 else 'low')
MCD

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,openclose_same,pct_change,log_ret,total_ret,volume_class
0,2017-01-03,101.373,101.490,98.961,99.510,5123800,0.0,0.0,False,NaN,NaN,1.863,high
1,2017-01-04,98.994,99.610,98.312,99.393,3780800,0.0,0.0,False,-0.001176,-0.001176,-0.399,medium
2,2017-01-05,99.277,99.992,99.077,99.576,4261100,0.0,0.0,False,0.001841,0.001839,-0.299,high
3,2017-01-06,98.936,101.074,98.595,100.458,4089200,0.0,0.0,False,0.008858,0.008819,-1.522,high
4,2017-01-09,100.458,100.708,100.100,100.184,3021800,0.0,0.0,False,-0.002728,-0.002731,0.274,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,2022-12-23,255.388,257.742,254.322,256.992,1269000,0.0,0.0,False,0.006769,0.006747,-1.604,low
1506,2022-12-27,258.039,258.241,256.061,256.291,1674700,0.0,0.0,False,-0.002728,-0.002731,1.748,low
1507,2022-12-28,257.405,257.540,254.591,254.630,1427800,0.0,0.0,False,-0.006481,-0.006502,2.775,low
1508,2022-12-29,255.427,257.223,254.409,255.417,1393900,0.0,0.0,False,0.003091,0.003086,0.010,low
1509,2022-12-30,254.716,254.889,251.066,253.112,1720100,0.0,0.0,False,-0.009024,-0.009065,1.604,low

In [83]:
PNW["volume_class"]=PNW["Volume"]
PNW["volume_class"]=PNW.loc[:,'volume_class':].apply(lambda x: pd.qcut(x, q=[0, 0.25, 0.75, 1.0], 
                                    labels =['low','medium','high']) 
                                    if not x.nunique() == 1 else 'low')
PNW

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,openclose_same,pct_change,log_ret,total_ret,volume_class
0,2017-01-03,56.709,56.731,55.968,56.222,517200,0.0,0.0,False,NaN,NaN,0.487,low
1,2017-01-04,56.346,56.717,56.186,56.535,728600,0.0,0.0,False,0.005567,0.005552,-0.189,medium
2,2017-01-05,56.680,57.146,56.055,57.000,1230800,0.0,0.0,False,0.008225,0.008191,-0.320,high
3,2017-01-06,56.811,57.298,56.571,57.073,724900,0.0,0.0,False,0.001281,0.001280,-0.262,medium
4,2017-01-09,57.109,57.298,56.120,56.157,464400,0.0,0.0,False,-0.016050,-0.016180,0.952,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,2022-12-23,70.251,71.247,70.178,71.211,416500,0.0,0.0,False,0.012210,0.012136,-0.960,low
1506,2022-12-27,71.366,71.366,70.562,71.009,720900,0.0,0.0,False,-0.002837,-0.002841,0.357,medium
1507,2022-12-28,71.128,71.366,70.160,70.187,808300,0.0,0.0,False,-0.011576,-0.011644,0.941,medium
1508,2022-12-29,70.580,71.055,70.406,70.479,745100,0.0,0.0,False,0.004160,0.004152,0.101,medium
1509,2022-12-30,70.553,70.690,69.054,69.483,571400,0.0,0.0,False,-0.014132,-0.014233,1.070,low

In [82]:
PSA["volume_class"]=PSA["Volume"]
PSA["volume_class"]=PSA.loc[:,'volume_class':].apply(lambda x: pd.qcut(x, q=[0, 0.25, 0.75, 1.0], 
                                    labels =['low','medium','high']) 
                                    if not x.nunique() == 1 else 'low')
PSA

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,openclose_same,pct_change,log_ret,total_ret,volume_class
0,2017-01-03,164.211,164.825,162.223,163.371,938100,0.0,0.0,False,NaN,NaN,0.840,medium
1,2017-01-04,163.919,165.110,163.531,164.569,723300,0.0,0.0,False,0.007333,0.007306,-0.650,medium
2,2017-01-05,162.815,166.601,160.659,166.323,956600,0.0,0.0,False,0.010658,0.010602,-3.508,medium
3,2017-01-06,165.110,167.215,164.708,166.901,697200,0.0,0.0,False,0.003475,0.003469,-1.791,medium
4,2017-01-09,166.901,167.449,165.256,165.761,601700,0.0,0.0,False,-0.006830,-0.006854,1.140,low
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,2022-12-23,259.121,264.721,257.652,263.428,459800,0.0,0.0,False,0.011500,0.011434,-4.307,low
1506,2022-12-27,263.028,264.070,261.242,263.270,314100,0.0,0.0,False,-0.000600,-0.000600,-0.242,low
1507,2022-12-28,264.135,265.316,257.745,258.573,574200,0.0,0.0,False,-0.017841,-0.018002,5.562,low
1508,2022-12-29,260.554,264.302,259.410,262.842,403500,0.0,0.0,False,0.016510,0.016375,-2.288,low
1509,2022-12-30,261.810,262.293,257.615,260.619,432900,0.0,0.0,False,-0.008458,-0.008494,1.191,low

In [80]:
GPN

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,openclose_same,pct_change,log_ret,total_ret,total_retSUM,volume_class
0,2017-01-03,67.508,68.444,66.601,68.010,1640300,0.0,0.0,False,NaN,NaN,-0.502,58.431,1640300
1,2017-01-04,68.193,70.547,67.952,70.547,1769700,0.0,0.0,False,0.037303,0.036624,-2.354,58.431,1769700
2,2017-01-05,70.200,71.328,70.200,70.827,1741400,0.0,0.0,False,0.003969,0.003961,-0.627,58.431,1741400
3,2017-01-06,70.952,71.975,70.634,71.820,1581600,0.0,0.0,False,0.014020,0.013923,-0.868,58.431,1581600
4,2017-01-09,75.631,78.023,75.303,76.972,3860200,0.0,0.0,False,0.071735,0.069279,-1.341,58.431,3860200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,2022-12-23,92.786,95.513,92.589,95.208,1454200,0.0,0.0,False,0.022950,0.022691,-2.422,58.431,1454200
1506,2022-12-27,94.991,96.478,94.844,96.153,1569600,0.0,0.0,False,0.009926,0.009877,-1.162,58.431,1569600
1507,2022-12-28,96.340,97.206,94.558,94.863,1158500,0.0,0.0,False,-0.013416,-0.013507,1.477,58.431,1158500
1508,2022-12-29,95.621,98.279,95.208,97.649,1352500,0.0,0.0,False,0.029369,0.028946,-2.028,58.431,1352500
1509,2022-12-30,96.546,97.797,96.192,97.767,1374800,0.0,0.0,False,0.001208,0.001208,-1.221,58.431,1374800

In [ ]:
#8
plt.yscale("log")
plt.plot(GPN["log_ret"], name="GPN")
plt.plot(MCD["log_ret"], name="MCD")
plt.plot(PNW["log_ret"], name="PNW")
plt.plot(PSA["log_ret"], name="PSA")

In [91]:
fig = go.Figure()
fig.add_trace(go.Histogram(x=GPN.log_ret, name='GPN'))
fig.add_trace(go.Histogram(x=MCD.log_ret, name='MCD'))
fig.add_trace(go.Histogram(x=PNW.log_ret, name='PNW'))
fig.add_trace(go.Histogram(x=PSA.log_ret, name='PSA'))

fig.update_xaxes(range=[log_min, log_max])
fig.update_layout(autosize=True, height=450, barmode='overlay', title='Log returns: GPN, MCD, PNW, PSA')
fig.update_traces(opacity=0.5)
fig.show()

ModuleNotFoundError: No module named 'plotly'